In [2]:
import pandas as pd
import seaborn as sns
import numpy as np

from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [6]:
fruit = pd.read_excel("AppleOrange.xlsx")
fruit.head()

   Weight    Skin   Fruit
0     140  Smooth   Apple
1     130  Smooth   Apple
2     150   Bumpy  Orange
3     170   Bumpy  Orange

In [15]:
fruit = fruit.replace(to_replace = "Smooth", value = 0)
fruit = fruit.replace(to_replace = "Bumpy", value = 1)
fruit = fruit.replace(to_replace = "Apple", value = 0)
fruit = fruit.replace(to_replace = "Orange", value = 1)
fruit.head()

   Weight  Skin  Fruit
0     140     0      0
1     130     0      0
2     150     1      1
3     170     1      1

In [21]:
X = fruit[["Weight","Skin"]]
X

   Weight  Skin
0     140     0
1     130     0
2     150     1
3     170     1

In [22]:
clf = DecisionTreeClassifier()
clf = clf.fit(X, fruit.Fruit)

In [51]:
predictMe = np.array([[140,1],[140,1]])

clf.predict(predictMe) # model thinks it is an orange

array([1, 1], dtype=int64)

In [52]:
predictMe = np.array([[140,0],[140,0]])

clf.predict(predictMe) # model thinks it is an apple. Skin feature seems more important

array([0, 0], dtype=int64)

In [53]:
apps = pd.read_excel("Apps.xlsx")
apps.head()

  Gender  Age         App
0      F   15  Pokemon Go
1      F   25    WhatsApp
2      M   32   Snap Chat
3      F   40    WhatsApp
4      M   12  Pokemon Go

In [55]:
apps = apps.replace(to_replace = "F", value = 0)
apps = apps.replace(to_replace = "M", value = 1)
X = apps[["Gender","Age"]]

In [56]:
clf2 = DecisionTreeClassifier()
clf2 = clf2.fit(X, apps.App)

In [57]:
clf2.predict([[1,21],[0,18]])

array(['Snap Chat', 'Pokemon Go'], dtype=object)